//color
$projRed:#ef4b4c;
$projBlue: #3e619b;
$projDarkBlue: #361954;
$projWhite: #fff;
$projLightWhite: #e9e9eb;
$projYellow: #ffdb70;
$projBlack: #000;
$projGreen: #337264;
$projGray: #42506b;
$projMidNitBlue: #101720;

//font
$fontMedium: 'Roboto Medium';
$fontRegular: 'Roboto Regular';
$fontBold: 'Roboto Bold';



@font-face {
    font-family: 'Roboto Bold';
    src:  url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Regular';
    src:  url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto Medium';
    src:  url('./fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}