@use '../../styles/main.scss' as m;

.staffContainer {
    background-color: m.$projBlue;
}

#staffHomeId {
    min-height: 100vh;
    padding-top: 30px;
    & .staffHome {
        & .classContainer, & .myClassContainer {
            & > div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 0 0 20px;
    
                & .itemBlock {
                    width: 300px;
                    height: 150px;
                    background-color: m.$projYellow;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    font-size: 20px;
                    font-family: m.$fontMedium;
                    margin-right: 30px;
                    margin-top: 20px;
                    cursor: pointer;
                    border-radius: 10px;
                    position: relative;
                    padding-top: 10px;
    
                    & .itemContent {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
    
                    & .hoverButton {
                        display: none;
                    }
    
                    &:hover{
                        // border: 5px solid m.$projWhite;
    
                        & .hoverButton {
                            display: flex;
                            position: absolute;
                            bottom: 20px;
                            justify-content: space-between;
    
                            & .button-d {
                                background-color: m.$projBlue;
                                color: m.$projWhite;
                                font-size: 14px;
    
                                &:first-child {
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        & .myClassContainer {
            padding: 0px 0 30px;

                & .itemBlock {
                    background-color: m.$projLightWhite !important;
                    width: 430px !important;
    
                    
                    &:hover{

                        & .hoverButton {
                            flex-wrap: wrap;
                            align-items: center;
    
                            & .button-d {
                                width: 120px;
                                font-size: 14px;
                                
                                &:nth-child(2) {
                                    margin-right: 15px;
                                }
                            }
                        }
                    }
                }

        }
    }
}

#staffMarkAttendanceId {
    background-color: m.$projYellow;
    padding: 80px 0 50px;

    & .staffMarkAndAttendance {

        & .markAttendanceBlocks {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 80px 0;

            & > div {
                width: 300px;
                height: 300px;
                background-color: m.$projBlue;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-family: m.$fontMedium;
                margin-right: 30px;
                margin-top: 20px;
                cursor: pointer;
                border-radius: 10px;
                position: relative;
                color: m.$projWhite;

                
                &:hover{
                    border: 5px solid m.$projLightWhite;
                }
            }
        }
    }
}

#staffMarks {
    background-color: m.$projYellow;
    min-height: 100vh;
    padding: 30px 0;

    & .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 160px;
    }

    & .container {
        background-color: m.$projBlue;

        & > .row {
            padding-top: 50px;
            padding-bottom: 30px;
        }

        & .leftBlock {
            padding: 0 30px;

            & .classDetails {
                & > div {
                    font-family: m.$fontMedium;
                    font-size: 22px;
                    color: m.$projLightWhite;

                    &:nth-child(2) {
                        padding-top: 5px;
                    }

                    &.selectContainer {
                        padding-top: 20px;
                        width: 40%;

                        & select {
                            cursor: pointer;

                            &:focus {
                                border: none;
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }
                }

                & .editMarksButton {
                    padding-top: 40px;

                    & .buttonContainer {
                        background-color: m.$projWhite;
                        width: 200px;
                        color: m.$projRed;
                    }
                }
            }

            & .marksTable {
                padding-top: 70px;

                & table {
                    & tbody {
                        & tr {
                            & td {

                                &:first-child {
                                    text-transform: capitalize;
                                }
                                & span {
                                    padding: 2px 5px;
                                    border-radius: 12px;
                                    color: #fff;
                                    display: inline-block;
                                    min-width: 55px;
                                    text-align: center;
                                }
                                &.pass {
                                    & span {
                                        background-color: #0e780e;
                                    }
                                }
                                &.fail {
                                    & span {
                                        background-color: #e31d1d;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & .loader {
                max-width: 200px;
                margin:  0 auto;
                & .hloader {
                    justify-content: flex-start;
                    margin-top: 100px;
                }
            }

            & .infoMsg, & .infoMsg2 {
                color: m.$projYellow;
                font-family: m.$fontBold;
                font-size: 14px;
                padding-top: 2px;
            }

            & .infoMsg2 {
                font-size: 18px;
                margin-top: 30px;
            }

            & .avgMarksContainer {
                padding-top: 20px;
                
                & > div {
                    font-family: m.$fontRegular;
                    font-size: 16px;
                    color: m.$projWhite;

                    & span {
                        font-family: m.$fontBold;
                        color: m.$projYellow;
                        font-size: 18px;
                    }
                }
            }

            & .updateMarkWrapper {
                padding-top: 40px;

                & .buttonContainer {
                    width: 150px;
                    background-color: m.$projWhite;
                    color: m.$projDarkBlue;

                    &:hover {
                        background-color: m.$projYellow;
                        color: m.$projBlack;
                    }
                }
            }
        }

        & .rightBlock {
            padding: 0 30px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;

            & .importBlock {
                text-align: end;

                & > div {
                    &:last-child {
                        margin-top: 50px;
                    }
                }

                & .title {
                    font-size: 15px;
                    font-family: m.$fontMedium;
                    color: m.$projYellow;
                    padding-bottom: 10px;
                }

                .actionButtonBlock {

                    &.active {
                        & label {
                            background-color: m.$projYellow;
                            cursor: pointer;
                        }
                    }

                    &.disabled {
                        & label {
                            background-color: #a59a7c;
                        }
                    }

                    & label {
                        padding: 5px;
                        border-radius: 5px;
                         
                        & svg {
                            margin-bottom: 6px;
                        }

                    }
                }

                & span {
                    color: #5fff55;
                    font-size: 15px;
                    display: block;
                    font-family: m.$fontBold;
                }
            }
        }
    }

}

//User profile
#profileContainer {
    background-color: m.$projDarkBlue;
    padding: 30px 0 50px;

    .container {
        background-color: m.$projLightWhite;
        padding: 15px 0 30px;

        h2 {
            font-family: m.$fontBold;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 30px;
            color: m.$projDarkBlue;
        }

        .profileContent {

            display: flex;
            justify-content: space-around;
        
            h4 {
                font-family: m.$fontMedium;
                padding: 10px 30px 10px 0;
                text-align: right;
                color: m.$projDarkBlue;
            }
        
            .information {

                border-right: 1px solid m.$projDarkBlue;
                padding-right: 60px;

                & > .row {
                    padding-bottom: 15px;
        
                    .col {
                        div {
                            font-family: m.$fontRegular;
                            font-size: 20px;
                            padding: 10px 10px;
                            color: m.$projDarkBlue;
                            background-color: #d1cdcd;
                        }
                    }
        
                }
            }

            .updatePasswordWrapper {

                .buttonContainer  {
                    background-color: m.$projYellow;
                    width: 180px;
                    color: m.$projBlack;
                    margin: 0 auto;

                    &.disabled {
                        pointer-events: none;
                    }

                    &.enabled {
                        pointer-events: visible;
                    }
                }

                .updatePasswordForm {
                    width: 400px;
                    margin: 50px auto 0 auto;
                    padding: 40px 30px;
                    background-color: m.$projDarkBlue;
                    border-radius: 10px;

                    & label {
                        color: m.$projLightWhite;
                        font-size: 18px;
                        font-family: m.$fontMedium;
                    }

                    & .errorMsg {
                        color: m.$projWhite;
                        font-family: m.$fontBold;
                        font-size: 14px;
                        padding-bottom: 10px;
                        display: block;
                    }

                    & span {
                        &:first-child {
                            &:first-child {
                                padding-top: 10px;
                            }
                        }
                    }

                }

                & .successWrapper {
                    position: relative;
                    margin: 30px auto 0 auto;
                    width: 290px;
                    padding: 8px;
                    background-color:#487640;
                    border-radius: 5px;

                    & .pwdSuccess {
                        color: m.$projWhite;
                        font-family: "Roboto Bold";
                        font-size: 14px;
                        display: block;
                        text-align: center;
                        padding-top: 0 !important;
                    }

                    & .successIconWrapper {
                        position: absolute;
                        top: 2px;
                        right: 17px;

                        & svg {
                            fill: m.$projWhite;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }

}

//marks approval
#staffMarksApprovalId {
    background-color: m.$projBlue;
    padding: 30px 0 50px;
    min-height: 100vh;
    .container {
        & .approvalWrapper {
            h2 {
                text-align: center;
                font-family: m.$fontMedium;
                color: m.$projWhite;
                font-size: 20px;
            }

            & .tableTopHeader {
                h4 {
                    font-family: m.$fontMedium;
                    color: m.$projYellow;
                    font-size: 18px;
                    margin-bottom: 20px;
                }

                .examType {
                    width: 15%;
                    
                    & select {
                        cursor: pointer;
                    }
                }
            }

            & .summaryTable {
                padding-top: 40px;

                & .infoMsg{
                    color: m.$projBlack;
                    font-family: m.$fontBold;
                    font-size: 16px;
                    background-color: m.$projYellow;
                    padding: 20px;
                    text-align: center;
                }

                & .marksTable {
                    & table {
                        text-align: center;
                        vertical-align: middle;
                        border: 1px solid #c1b7b7;

                        & thead {
                            & th {
                                font-family: m.$fontRegular;
                                background-color: m.$projYellow;

                                &:last-child {
                                    width: 50px;
                                }
                            }
                        }

                        & tbody {
                            & tr {
                                & > td {

                                    font-family: m.$fontRegular;

                                    &:first-child {
                                        text-transform: capitalize;
                                        background-color: m.$projLightWhite;
                                        color: m.$projBlue;
                                        font-family: m.$fontMedium;
                                    }

                                    &:last-child {
                                        & input {
                                            cursor: pointer;
                                            width: 15px;
                                            height: 15px;
                                            accent-color: #0e780e;
                                        }
                                    }
                                }
                            }
                        }

                        & input.remarks {
                            width: 100%;
                        }
                    }
                }
            }

            & .OverAllStatus {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;

                & table {
                    text-align: center;
                    vertical-align: middle;
                }

                & .subjectStatus {
                    width: 65%;
                    margin-right: auto;

                    & table {
                        text-align: left;

                        & thead {

                            & th {
                                font-family: m.$fontRegular;
                                background-color: m.$projLightWhite;
                                text-align: center;

                                &:first-child {
                                    text-align: left;
                                }
                            }
                        }

                        & tbody {

                            &  tr {
                                & > td {
                                    font-family: m.$fontRegular;
                                    text-align: center;

                                    &:first-child {
                                        font-family: m.$fontMedium;
                                        text-align: left;
                                    }
                                }
                            }

                        }
                    }
                }

                & .studentStatus {
                    width: 30%;
                    
                    & table {
                        
                        & thead {

                            & th {
                                font-family: m.$fontRegular;
                                background-color: m.$projYellow;
                            }
                        }

                        & tbody {
                            & tr {
                                & td:nth-child(2) {
                                    text-transform: capitalize;
                                }

                                & svg {
                                    fill: gold;
                                }

                                & > td {
                                    font-family: m.$fontRegular;
                                    &:first-child {
                                        font-family: m.$fontMedium;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            & .remarksBlock {
                margin-top: 50px;
                width: 50%;
                & table {
                    vertical-align: middle;
                    text-align: center;

                    & thead {
                        & tr {
                            & th {
                                font-family: m.$fontRegular;
                                background-color: m.$projRed;
                            }
                        }
                    }

                    & tbody {
                        & td {
                            font-family: m.$fontRegular;
                            text-transform: capitalize;
                        }
                    }
                }
            }

            & .approveButton {
                display: flex;
                justify-content: center;
                margin-top: 20px;

                & .button-d  {
                    background-color: m.$projYellow;
                    width: 200px;
                }
            }

            & .approveError {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: m.$fontBold;
                font-size: 17px;
                background-color: m.$projLightWhite;
                color: m.$projBlue;
                padding: 5px;
                width: 50%;
                margin: 20px auto 0 auto;
            }
            
        }
    }
}