@use '../../styles/main.scss' as m;

.staffContainer {
    background-color: m.$projBlue;
    padding: 80px 0 50px;
}

#staffHomeId {
    & .staffHome {
        & .classContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 80px 0;

            & .itemBlock {
                width: 300px;
                height: 300px;
                background-color: m.$projYellow;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-family: m.$fontMedium;
                margin-right: 30px;
                margin-top: 20px;
                cursor: pointer;
                border-radius: 10px;
                position: relative;

                & .itemContent {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                & .hoverButton {
                    display: none;
                }

                &:hover{
                    border: 5px solid m.$projWhite;

                    & .hoverButton {
                        display: flex;
                        position: absolute;
                        bottom: 20px;
                        justify-content: space-between;

                        & .button-d {
                            background-color: m.$projBlue;
                            color: m.$projWhite;
                            width: 120px;

                            &:first-child {
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#staffMarkAttendanceId {
    background-color: m.$projYellow;
    padding: 80px 0 50px;

    & .staffMarkAndAttendance {

        & .markAttendanceBlocks {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 80px 0;

            & > div {
                width: 300px;
                height: 300px;
                background-color: m.$projBlue;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                font-family: m.$fontMedium;
                margin-right: 30px;
                margin-top: 20px;
                cursor: pointer;
                border-radius: 10px;
                position: relative;
                color: m.$projWhite;

                
                &:hover{
                    border: 5px solid m.$projLightWhite;
                }
            }
        }
    }
}

#staffMarks {
    background-color: m.$projYellow;
    padding: 80px 0 50px;

    & .container {
        background-color: m.$projBlue;
        & > .row {
            padding-top: 50px;
            padding-bottom: 30px;
        }

        & .leftBlock {
            padding: 0 30px;

            & .classDetails {
                & > div {
                    font-family: m.$fontMedium;
                    font-size: 22px;
                    color: m.$projLightWhite;

                    &:nth-child(2) {
                        padding-top: 5px;
                    }

                    &.selectContainer {
                        padding-top: 20px;
                        width: 40%;

                        & select {
                            cursor: pointer;

                            &:focus {
                                border: none;
                                outline: none;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }

            & .marksTable {
                padding-top: 70px;
            }
        }

        & .rightBlock {
            padding: 0 30px;
            display: flex;
            justify-content: flex-end;

            & .importBlock {
                text-align: end;

                & .title {
                    font-size: 15px;
                    font-family: m.$fontMedium;
                    color: m.$projYellow;
                    padding-bottom: 10px;
                }

                & label {
                    background-color: m.$projYellow;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                & span {
                    color: #5fff55;
                    font-size: 15px;
                    display: block;
                    font-family: m.$fontBold;
                }
            }
        }
    }

}

//User profile
#profileContainer {
    background-color: m.$projDarkBlue;
    padding: 130px 0 50px;

    .container {
        background-color: m.$projLightWhite;
        padding: 15px 0 30px;

        h2 {
            font-family: m.$fontBold;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 30px;
            color: m.$projDarkBlue;
        }

        .profileContent {

            display: flex;
            justify-content: space-around;
        
            h4 {
                font-family: m.$fontMedium;
                padding: 10px 30px 10px 0;
                text-align: right;
                color: m.$projDarkBlue;
            }
        
            .information {

                border-right: 1px solid m.$projDarkBlue;
                padding-right: 60px;

                & > .row {
                    padding-bottom: 15px;
        
                    .col {
                        div {
                            font-family: m.$fontRegular;
                            font-size: 20px;
                            padding: 10px 10px;
                            color: m.$projDarkBlue;
                            background-color: #d1cdcd;
                        }
                    }
        
                }
            }

            .updatePasswordWrapper {

                .buttonContainer  {
                    background-color: m.$projYellow;
                    width: 180px;
                    color: m.$projBlack;
                    margin: 0 auto;

                    &.disabled {
                        pointer-events: none;
                    }

                    &.enabled {
                        pointer-events: visible;
                    }
                }

                .updatePasswordForm {
                    width: 400px;
                    margin: 50px auto 0 auto;
                    padding: 40px 30px;
                    background-color: m.$projDarkBlue;
                    border-radius: 10px;

                    & label {
                        color: m.$projLightWhite;
                        font-size: 18px;
                        font-family: m.$fontMedium;
                    }

                    & .errorMsg {
                        color: m.$projWhite;
                        font-family: m.$fontBold;
                        font-size: 14px;
                        padding-bottom: 10px;
                        display: block;
                    }

                    & span {
                        &:first-child {
                            &:first-child {
                                padding-top: 10px;
                            }
                        }
                    }

                }
            }
        }
    }

}