@use '../../styles/main.scss' as m;

.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: m.$projLightWhite;
    padding: 20px 15px 20px 0;
    z-index: 99;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);

    & > div:first-child {
        font-size: 30px;
        font-family: m.$fontMedium;
        margin-right: 15px;
    }

    & > div:last-child {
        font-size: 35px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    & button {
        background-color: m.$projRed;
        border: none;
        outline: none;

        &.show {
            background-color: m.$projBlue;
        }

        &:hover {
            background-color: m.$projRed;
        }
        &:active {
            background-color: m.$projBlue !important;
        }
    }

    & .dropdown-menu {
        padding: 0;

        & div {
            text-align: left;
            cursor: pointer;
            padding: 10px 0 10px 15px;
            font-family: m.$fontRegular;

            &:first-child {
                border-bottom: 1px solid m.$projLightWhite;

                &:hover {
                    background-color: m.$projBlue;
                    color: #fff;
                }
            }

            &:nth-child(2) {
                border-bottom: 1px solid m.$projLightWhite;

                &:hover {
                    background-color: m.$projBlue;
                    color: #fff;
                }
            }

            &:last-child {
                &:hover {
                    background-color: m.$projRed;
                    color: #fff;
                }
            }
        }
    }
}