@use '../../styles/main.scss' as m;

.hloader {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    // background-color: m.$projLightWhite;
}

.vloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}