@use '../../styles/main.scss' as m;

.timeTableContainer {
    & table {
        & thead {
            vertical-align: middle;
            tr {
                th {
                    font-size: 16px;
                    font-family: m.$fontBold;
                    color: m.$projBlue;
                    background-color: m.$projYellow;
                }
            }
        }

        & tbody {
            vertical-align: middle;
            
            & .weekdays {
                background-color: #fff;
            }

            & .subjects {
                background-color: m.$projBlue;
                color: #fff;
                font-size: 16px;

                & > div {
                    text-align: center;
                    
                    & span {
                        &:last-child {
                            font-size: 12px;
                        }
                    }
                }
            }

            & tr {
                height: 65px;
                & > td:first-child {
                    background-color: m.$projRed;
                    color: #fff;
                    font-size: 16px;
                    font-family: m.$fontMedium;
                }

                td {
                    font-family: m.$fontRegular;
                }
            }
        }
    }
}